requests
json
rhvoice_wrapper
SpeechRecognition==3.8.1
pvporcupine
wikipedia
datetime
subprocess
time
sys
dbus
difflib
random
os
threading
ollama
git+https://github.com/cueo/wiz.git
tkinter
PyDictionary
RPI_GPIO
